<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'TheSafe for reddit!' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav navbar'>
        <li>{{link-to 'irc chat' 'chat'}}</li>
        <li>{{link-to 'comments' 'comments'}}</li>
        <li>{{link-to 'activity' 'comment-activity'}}</li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href="https://www.reddit.com/r/undelete/comments/36l830/saying_goodbye_to_an_old_friend/" target="_new">美国鬼子文革中的机器ಠ_ಠ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<iframe width="100%" height="500" scrolling="no" style="border-bottom: 1px solid #AAAAAA" frameborder="0" src="https://qchat.rizon.net/?channels=#SRC"></iframe>
<footer id='footer'>
  <h3><strong>Privacy Policy</strong>: We know kn0thing.  This is separate from reddit inc's privacy policy.</h3>
  <h5>

    All <a target='github' href='https://github.com/TheSafe'>code and concepts</a>
    are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!
    <br/>
  </h5>
  <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.
  <h4>This web application claims no affiliation with reddit inc. nor does reddit inc. endorse it.</h4>
  <h5><a href='https://us.reddit.com/r/POLITIC/comments/37ovia/politicbot_was_shadowbanned_yesterday_for_spam/'>Quite the opposite in fact, the paper tigers who don scarlet letter in a barrel of incompetence have tried to kill this message no less than three times so far.</a></h5>
</footer>
